/* You can add global styles to this file, and also import other style files */

@charset "UTF-8";

/* Centrar contenedor vertical y horizontalmente */


/* Tamaño del scroll */

body::-webkit-scrollbar {
    width: 8px;
}


/* Estilos barra (thumb) de scroll */

body::-webkit-scrollbar-thumb {
    background: #4646468e;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #4646468e;
}

body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Estilos track de scroll */

body::-webkit-scrollbar-track {
    background: #8f8e8e;
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #999999;
}